venv/

*.jpg
*.jpeg
*.pyc
__pycache__/

# exclude everything
instance/*
# exception to the rule
!instance/.gitkeep

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

flask_session/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
