{% extends 'layout.html' %}

{% block title %}
  Register
{% endblock %}

{% block main %}
    {% if g.user.privilege >= 9 %}
        <h4>Register new user</h4>
        <form action="{{ url_for('admin.register') }}" method="POST">
            <div class="form-group">
                <input autocomplete="off" autofocus type="text" class="form-control" id="reg_username" name="reg_username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input autocomplete="off" type="password" class="form-control" id="reg_password" name="reg_password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input autocomplete="off" type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm password" required>
            </div>
            <p class="confirm_warning">Passwords do not match!</p>

            <div class="form-group">
                <select name="reg_privilege" class="custom-select narrow-select">
                    <option selected>Privilege...</option>
                    {% for level in levels %}
                        <option value="{{ level }}">{{ level }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-success" type="submit">Register</button>
            </div>
        </form>

        <div>
            <a href="{{ url_for('admin.users') }}" class="btn btn-primary" role="button">List all users</a>
        </div>

        <script>
            document.querySelector('#confirm').onkeyup = function() {
                let first = document.querySelector('#reg_password').value;
                let second = document.querySelector('#confirm').value;

                if (first != second && second != '') {
                    document.querySelector('.confirm_warning').style.display = "block";
                } else {
                    document.querySelector('.confirm_warning').style.display = "none";
                }
            }
        </script>
    {% else %}
        <h4>This is not the page you are looking for!</h4>
    {% endif %}
{% endblock %}