{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <h5>Edit person</h5>

    {% if person.image %}
        <div class="form-group">
            <a href="{{ url_for('index.image', person_id=person.person_id) }}"><img src="../../static/images/{{ person.image.image_file }}" class="img-thumbnail rounded" alt="image thumbnail"></a>
        </div>
    {% endif %}

    <form action="{{ url_for('index.edit', person_id=person.person_id) }}" method="POST">
        <h6>English Names</h6>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="nickname" name="nickname" value="{{ person.nickname.capitalize() }}" placeholder="Nickname">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="first_name" name="first_name" value="{{ person.first_name.capitalize() }}" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="middle_name" name="middle_name" value="{{ person.middle_name.capitalize() }}" placeholder="Middle name">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="family_name" name="family_name" value="{{ person.family_name.capitalize() }}" required>
        </div>

        <h6>Chinese Names</h6>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" name="ch_first" value="{{ person.ch_name.ch_first.capitalize() }}" placeholder="Chinese first name">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" name="ch_middle" value="{{ person.ch_name.ch_middle.capitalize() }}" placeholder="Chinese middle name">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" name="ch_family" value="{{ person.ch_name.ch_family.capitalize() }}" placeholder="Chinese family name">
        </div>

        <h6>Date of birth</h6>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="birth_year" name="birth_year" value="{{ person.birth.birth_year}}" placeholder="Birth year">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="birth_month" name="birth_month" value="{{ person.birth.birth_month}}" placeholder="Birth month">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="birth_day" name="birth_day" value="{{ person.birth.birth_day}}" placeholder="Birthday">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
        <a href="{{ url_for('index.delete', person_id=person.person_id) }}" class="btn btn-danger" role="button">Delete</a>
    </form>
{% endblock %}