{% extends "layout.html" %}

{% block title %}
    Criteria
{% endblock %}

{% block main %}
    <form action="{{ url_for('index.index') }}" method="POST">
        <div class="form-group">
            <select name="criteria" class="custom-select">
                <option selected>Choose search terms</option>
                <option value="nickname">Nickname</option>
                <option value="first_name">First name</option>
                <option value="first_last_name">First and last name</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Go</button>
    </form>
{% endblock %}