{% extends "layout.html" %}

{% block title %}
    Criteria
{% endblock %}

{% block main %}
    <form action="{{ url_for('find.terms') }}" method="POST">
        <div class="form-group">
            <input class="find-everyone" name="everyone" value="everyone">
            <button class="btn btn-primary" type="submit">Find everyone</button>
        </div>
    </form>

    <h5>OR</h5>

    <form action="{{ url_for('index.index') }}" method="POST">
        <div class="form-group">
            <select name="criteria" class="custom-select">
                <option id="search_term" selected>Choose search term...</option>
                {% for criteria in search_criteria %}
                    <option value="{{ criteria }}">{{ criteria }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Go</button>
    </form>
{% endblock %}