{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}
    <h4>Create new person</h4>
    <form action="{{ url_for('create.new') }}" method="POST">
        <h6>English names</h6>
        <div class="form-group">
            <input autocomplete="off" autofocus type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="first_name" name="first_name" placeholder="First name (required)" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Middle name">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="family_name" name="family_name" placeholder="Family name (required)" required>
        </div>

        <h6>Chinese names</h6>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" name="ch_family" placeholder="Chinese family name">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" name="ch_first" placeholder="Chinese first name">
        </div>

        <h6>Nationality</h6>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="country" list="countries" placeholder="Country">
            <datalist id="countries">
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </datalist>
        </div>

        <h6>Date of birth</h6>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="birth_year" name="birth_year" placeholder="Year">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="birth_month" name="birth_month" placeholder="Month">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="birth_day" name="birth_day" placeholder="Day">
        </div>

        <h6>Important numbers</h6>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" name="passport_no" placeholder="Passport number">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" name="rad_pin" placeholder="RAD PIN">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" name="istd_pin" placeholder="ISTD PIN">
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
{% endblock %}