{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <h5>Upload an image for {{ person.first_name.capitalize() }} {{ person.family_name.capitalize() }}</h5>
    <form action="{{ url_for('index.upload', person_id = person.person_id) }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="custom-file">
                <input type=file class="custom-file-input" name=file id="file">
                <label class="custom-file-label" for="image">Select image...</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <script>
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            let fileName = document.getElementById("file").files[0].name;
            let nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        })
    </script>
{% endblock %}